
# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on
  
  
  RewriteBase /toffy
  
  Options +FollowSymLinks -MultiViews
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} (.+)/$
	RewriteRule ^ %1 [L,R=301]

  RewriteCond %{REQUEST_URI} !^/toffy/ 
  RewriteRule ^(.*)$ /toffy/$1 [L,R=302]

  # Rewrite URLs of the form 'x' to the form 'index.php?q=x'.
  RewriteCond %{HTTP_HOST} ^localhost [NC] 
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^(.*)/(.*)$ $1 [L,NC]
  
  RewriteCond %{HTTP_HOST} ^localhost [NC] 
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^(.*)$ "" [L,NC]
  

  

  

  #RewriteRule (.*) $1
</IfModule>


